<div class="footer bg-blue">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <a href="https://www.facebook.com/aaron.llanos.7" class="btn"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="https://twitter.com/HookEM_A" class="btn"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://github.com/AaronLlanos" class="btn"><i class="fa fa-github fa-2x"></i></a>
            <a href="https://instagram.com/aaronyolungz/" class="btn"><i class="fa fa-instagram fa-2x"></i></a>
            <a href="https://www.linkedin.com/pub/aaron-llanos/85/960/253" class="btn"><i class="fa fa-linkedin fa-2x"></i></a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p>Aaron Llanos</p>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p class="text-right"><span class="glyphicon glyphicon-heart"> Yeomonn team</span></p>
        </div>
    </div>
</div>